body, html {
  font-family:'Ubuntu',Verdana,sans-serif;
}

article {
  color:#131;
  /*font-size:16px;*/
  /*-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 120, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;*/
  /*-moz-box-shadow: 4px 4px 4px rgba(0, 0, 120, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;*/
}

.centered{
  font-family:'Ubuntu',Verdana,sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 0 #ccc;
  color: #2a2a2a;
}
header h1 {
  font-size:150%;
  color:#545454;
  text-shadow:#ccc 1px 1px 0;
}
article h2 {font-size:120%;}
article h3 {font-size:100%;}
header h1,
article h2,
article h3{
  line-height:150%;
  margin:0;
  text-overflow:ellipsist;
}

article figure{
 display:inline-block;
 text-align:center;
 width:100%;
}

article p,
article li,
article dl,
article dt,
article figcaption{
 font-size:100%;
 /*line-height:150%;*/
 text-align:justify;
 margin:0;
}

article figure,
article ol,
article ul{
 margin:16px 0;
}
article math{
 /*font-size:16px;*/  
 /*line-height:150%;*/
}
article math[display="block"]{
 font-size:100% !important;
 min-height:150%;
 text-align:center;
}
article math *[class="math-edit"]{
 color:#08c;
}
article math>mo{
 margin:0 2px;
}

/* NOTES */

article span[title]{
  cursor:pointer;
}
article span[title]:after{
  content:"‡";
  display:inline-block;
  font-size:75%;
  line-height:75%;
  margin-left:1px;
  text-align:center;
  vertical-align:super;
}

/* MATH EDITOR */

#select{
  text-shadow:0 0 1px #00f;
}
