article{
  box-sizing:border-box; 
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
  color:#131;
  font-size:16px;
  height:100%;
  overflow-x:hidden;
  overflow-y:hidden;
  padding:60px 0 20px 0;
  position:relative;
}

article>header:first-child{
  position:fixed;top:15px;left:100px;
}

article>headerheader h1 {
  color:#545454;
  font-size:150%;
  max-height:32px;
  overflow:hidden;
  text-overflow:ellipsis;
  text-align:left !important;
  text-shadow:#ccc 1px 1px 0;
}

article h2 {font-size:120%;}
article h3 {font-size:100%;}
header h1,
article h2,
article h3{
  line-height:150%;
  margin:0;
  text-overflow:ellipsist;
}

article figure{
 display:inline-block;
 break-inside:avoid-column;
 text-align:center;
 width:100%;
}
article figure>*:first-child {
  border: 1px dotted gray;
  width: 40%;
}

article p,
article li,
article dl,
article dt,
article figcaption{
  font-size:100%;
  line-height:150%;
  margin:0;
  text-align:justify;
}

article figure,
article ol,
article ul{
  margin:16px 0;
}

article section{
  box-sizing:border-box; 
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
}

/* NOTES */

article span[title]{
  cursor:pointer;
}
article span[title]:after{
  content:"‡";
  display:inline-block;
  font-size:75%;
  line-height:75%;
  margin-left:1px;
  text-align:center;
  vertical-align:super;
}

/* MATH */

article math{
 font-size:16px;  
 line-height:150%;
}
article math[display="block"]{
 font-size:100% !important;
 min-height:150%;
 text-align:center;
}
article math *[class="math-edit"]{
 color:#08c;
}
article math>mo{
 margin:0 2px;
}
#select{
  text-shadow:0 0 1px #00f;
}
