body, html{
  margin:0;
  padding:0;
  overflow: hidden;
}

div{
  box-sizing:border-box; 
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
}

#pleaseWait{
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  background: #edecec;
  opacity: 0.7;
  z-index: 500;
}
.centered{
  background-color:white;
  color: #2a2a2a;
  font-size:150%;
  font-weight:bold;
  line-height:60px;
  margin-left:-100px;
  position:absolute;top:50%;left:50%;
  text-align:center;
  text-shadow:2px 2px 0 #ccc;
  width:200px;
  z-index: 1000;
}

#eo-viewport {
  position: absolute;
  top:0; right:20px; bottom:0; left:20px;
  /*height: 100%;*/
  /*width: 100%;*/
  z-index:-1;
}

/* -- arrows -- */
#eo-left-event,
#eo-right-event{
  -webkit-transition: width 0.2s linear;
  position:absolute;top:0;bottom:0;
  width: 40px;
}
#eo-left-event{
  left:0;
}
#eo-right-event{
  right:0;
}
#eo-left-event:hover,
#eo-right-event:hover{
  width: 150px;
}
#eo-go-left,
#eo-go-right{
  cursor:pointer;
  height:100%;
  width:150px;
  position:absolute;top:0;
  /*background-image: -webkit-liniar-gradient(left,#fff,#fff);*/
}
#eo-go-left{
  right:0;
  background: -webkit-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1));
}
#eo-go-right{
  left:0;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
}

/*background-image: -moz-linear-gradient(*/
    /*center bottom,*/
    /*rgb(255,255,255) 15%,*/
    /*rgb(255,255,255) 58%,*/
    /*rgb(255,255,255) 79%*/
/*);*/

#eo-go-left .arrow,
#eo-go-right .arrow{
  position:absolute;top:0;left:0;right:0;bottom:0;
}
#eo-go-left .arrow{
  background:url('../images/left-arrow.png') center left no-repeat;
  left:15px;
}
#eo-go-right .arrow{
  background:url('../images/right-arrow.png') center right no-repeat;
  right:15px;
}
#eo-go-left.end,
#eo-go-right.end{
  cursor:auto;
  opacity:0;
}

/* column counter */
#eo-columncounter{
  color:#545454;
  font-size:150%;
  max-height:60px;
  /*overflow:hidden;
  position:fixed;
  top:3px;right:100px;*/
  text-align:right !important;
  text-shadow:#fff 1px 1px 0;
}
#eo-top-panel{
    width:100%; height:40px;
    border-bottom:2px solid #ccc;
}