body, html{
  margin:0;
  padding:0;
}

div{
  box-sizing:border-box; 
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
}

#pleaseWait{
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  background: #edecec;
  opacity: 0.7;
  z-index: 500;
}
.centered{
  background-color:white;
  color: #2a2a2a;
  font-size:150%;
  font-weight:bold;
  line-height:60px;
  margin-left:-100px;
  position:absolute;top:50%;left:50%;
  text-align:center;
  text-shadow:2px 2px 0 #ccc;
  width:200px;
  z-index: 1000;
}

#eo-viewport {
  position: absolute;
  top:0; right:100px; bottom:0; left:100px;
  /*height: 100%;*/
  /*width: 100%;*/
  z-index:-1;
}

/* -- arrows -- */

#eo-go-left,
#eo-go-right{
  cursor:pointer;
  height:100%;
  width:80px;
}
#eo-go-left{
  background:url('../images/arrow_left_24x24.png') center center no-repeat;
  position:absolute;top:0;left:0;
}
#eo-go-right{
  background:url('../images/arrow_right_24x24.png') center center no-repeat;
  position:absolute;top:0;right:0;
}
#eo-go-left.end,
#eo-go-right.end{
  cursor:auto;
  opacity:0;
}
